@font-face {
  font-family: "Palanquin";
  src: url("../fonts/Palanquin-Bold.ttf") format("truetype");
}

.admin-titleBar {
  font-family: "Palanquin";
  font-size: 18px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #1a2a55;
}

.admin-logo-container {
  margin-left: 10px;
  width: 80px;
  height: 80px;
}

.admin-logo-container > img {
  width: 80px;
  height: 80px;
}

.admin-title-container {
  color: white;
  margin-left: 10px;
  margin-right: auto;
  padding: 5px;
  border: solid 1px white;
  border-radius: 5px;
  width: 150px;
  text-align: center;
}

.admin-account-container {
  display: flex;
  margin-right: 10px;
  width: 300px;
  height: 50px;
  background-color: #6b73ac;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.admin-notification-container {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.admin-notification-container > img {
  width: 50px;
  height: 50px;
  filter: invert(100%);
}

.admin-account-container > h4 {
  margin: 0 auto;
}

.admin-account-container:hover {
  background-color: #6b73ff;
}
.admin-account-container:active {
  border-radius: 0px;
}

.admin-navBar {
  display: flex;
  margin: 25px;
  align-items: center;
  justify-content: center;
}

.admin-navBar-button {
  display: flex;
  margin: 10px;
  font-family: "Palanquin";
  font-size: 18px;
  width: 300px;
  height: 70px;
  border: solid 2px #1a2a55;
  border-radius: 10px;

  text-align: center;
  align-items: center;
  justify-content: center;
}

.admin-navBar-button:hover {
  background-color: #1a2a55;
  color: white;
  cursor: pointer;
}
