@font-face {
  font-family: "Palanquin";
  src: url("../fonts/Palanquin-Bold.ttf") format("truetype");
}

.login-container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  font-family: "Palanquin";
}

.login-logo-container {
  grid-column: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #151035;
  height: 100vh;
  flex-direction: column;
}

.login-logo-container > img {
  width: 50%;
  height: 50%;
}

.login-content-container {
  grid-column: 2 / span 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-form-container {
  width: 412px;
  flex-direction: column;
  text-align: center;
}

.login-form-container h1 {
  font-size: 2.25rem;
  margin-bottom: 20px;
}

.login-title {
  font-size: 2rem;
}
.login-content-container .login-form-contianer form {
  margin: 2rem 0 0.5rem 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid white;
}

.form-field {
  margin-bottom: 20px;
  flex-direction: column;
}

.form-input {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #151035;
  height: 40px;
  border-radius: 3px;
}

.form-input input {
  padding: 0;
  margin: 0;
  border: 0;
  padding-right: 50px;
  height: 40px;
  padding-left: 15px;
  font-family: inherit;
  border-radius: 3px;
}

.form-input input:focus {
  outline: none;
  background-color: aliceblue;
}

.form-input .help-icon {
  position: absolute;
  right: 15px;
  top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.login-button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  border-radius: 3px;
}

.login-button-container input {
  border-radius: 3px;
  border: none;
  background-color: #6b73ac;
  font-family: inherit;
}
.login-button {
  flex-grow: 1;
  height: 40px;
}

.redirect-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: black;
  font-size: 0.8rem;
}

.link a {
  display: flex;
  font-weight: 100;
  color: black;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .login-main-container {
    width: 90vw;
  }
}
