@font-face {
  font-family: "Palanquin";
  src: url("../fonts/Palanquin-Bold.ttf") format("truetype");
}

.main-container {
  position: absolute;
  width: 1200px;
  height: 800px;
  left: 360px;
  top: 76px;
  border-radius: 20px;
  background-color: #1a2a55;
  box-shadow: 1px 1px 20px 7px rgba(0, 0, 0, 0.2);
}

.register-logo-container {
  margin: auto 0;
  display: flex;
  width: 1200px;
  height: 200px;
  justify-content: center;
  margin-top: -40px;
}

.registration-form {
  margin-top: 90px;
}

.grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 520px 520px;
  grid-template-rows: 100px 100px 100px;
}

.registration-field-container {
  display: flex;
  justify-content: center;
}

.registration-field-container > input:focus {
  outline: none;
  background-color: aliceblue;
}

.registration-field-container > input {
  font-family: "Palanquin";
  font-size: 18px;
  margin: auto 0;
  width: 500px;
  height: 80px;
  text-align: center;
  border: none;
  border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-container > input {
  font-family: "Palanquin";
  font-size: 18px;
  width: 250px;
  height: 80px;
  background-color: #6b73ac;
  border: none;
  border-radius: 10px;
}

.button-container > input:hover {
  background-color: #6b73ff;
}
.button-container > input:active {
  border-radius: 0px;
}

.registration-redirect-container {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  font-family: "Palanquin";
  font-size: 16px;
  font-weight: 200;
  color: white;
}
