@font-face {
  font-family: "Palanquin";
  src: url("../../fonts/Palanquin-Bold.ttf") format("truetype");
}

.client-ActiveTicket-searchbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  flex-direction: column;
}

.client-ActiveTicket-searchbar {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
  align-items: center;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 3px;
}

.client-ActiveTicket-searchbar > input {
  width: 500px;
  font-family: "Palanquin";
  font-size: 0.85rem;
  margin-right: 5px;
  height: 1.25rem;
  border: none;
  border-radius: 10px;
  padding: none;
  background: transparent;
}

.client-ActiveTicket-searchbar > input:focus {
  outline: none;
}

.client-filter-icon-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 5px;
  margin-left: 7px;
  border-radius: 5px;
}

.filter-icon {
  justify-self: center;
  align-self: center;
}

.filter-icon:hover {
  cursor: pointer;
}

@media (width < 600px) {
  .client-ActiveTicket-searchbar > input {
    width: 100%;
  }
}
